@charset "ISO-8859-1";

body {
	
	background: linear-gradient(110.3deg, rgba(72, 85, 99, 1) 8.8%,
		rgba(127, 146, 166, 1) 95.1%) fixed;
		
}
table{
	width:auto;
}

.cap {
	color:black;
	font-weight:bold;
	font-family: 'Nunito Sans', sans-serif;
	margin-left:0px;
	
}
